.page-header {
  padding: 0;
  height: auto;
  h1 {
    color: white;
    font-size: 23px;
    text-align: center;
    padding-top: 37px;
    padding-bottom: 37px;
    line-height: 30px;
    margin: 0 auto;
  }
  > div {
    display: flex;
    align-items: center;
  }

  &__menu {
    &__menu-item {
      width: 50%;
      text-align: center;
      height: 100%;
      line-height: 100px;
      font-size: 37px;
      top: 0;
      @media only screen and (max-width: 360px) {
        font-size: 30px;
      }
    }

    > .ant-menu-item-active.page-header__menu__menu-item,
    > .ant-menu-item-selected {
      background-color: @primary-color;
      color: white;
    }

    &__custom-menu-divider {
      background-color: @primary-color;
      border-bottom: 2px solid @primary-color;
      position: relative;
      margin: 0;
      height: 103px;
      width: 0.2%;
      display: inline-block;
      top: 0;
    }
  }
}
