@import "~antd/dist/antd.less";

#root {
  height: 100%;
}

.search {
  &:hover {
    border-top: 0;
  }

  &.ant-input-affix-wrapper-focused {
    border-top: 0;
  }
  .ant-input {
    font-size: 37px;
    padding-left: 40px;
  }
}

.threshold-slider {
  .ant-slider-rail {
    background-color: #ffb4b4;
    &:hover {
      background-color: #ffb4b4;
    }
  }
  &:hover .ant-slider-rail {
    background-color: #f78686;
  }
}

.custom-menu-divider {
  background-color: @primary-color;
  border-bottom: 2px solid @primary-color;
  position: relative;
  top: 1px;
}

.previous-search {
  &__item.--active {
    background-color: red;
    border: red;
  }
}

.ant-message {
}
