.login-form {
  .site-form-item-row.remember-forgot {
    .ant-form-item-control-input-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .site-form-item-row.login-register {
    .ant-form-item-control-input-content {
      > p {
        display: inline;
      }
      > * {
        margin-right: 10px;
      }
    }
  }
}
